body {
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    background: #aaa;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    border: 0.75rem solid black;
    box-sizing: border-box;
}

.display, .buttons {
    display: flex;
    width: 100%;
    align-items: center;   
}

.display {
    height: 3em;
    justify-content: flex-end;
    padding-right: 0.5em;
    font-size: 2rem;
    background: #ddd;
    box-sizing: border-box;
    border: 1rem solid black;
    font-family: sans-serif;

}

.buttons {
    padding: 1.33rem;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;  
    gap: 1rem;
    background: #444;

}

button {
    padding: 1rem;
    flex: 15%;
    font-size: 2rem;
}

.bigger {
    flex: 30%;
}